
<% provide(:title, "Home") %> 
<div class="center jumbotron" id="homebody"> 
 <h1>Bienvenido:</h1> 
 
  <h2> 
    Aqui puedes encontar todo lo relacionado a criptomonedas <br> 
    todo sobre los precios y los mejores exchage
  </h2>
  
 
  <%= image_tag("pngegg.png", alt: "Bit coin",id:"Bit2") %>
  <%= link_to "Inicciar session", '#', class: "btn btn-lg btn-primary" %> 
  <%= image_tag("pngegg.png", alt: "Bit coin",id:"Bit2") %>
</div>